<div class="col-md-8" id="main_div">
  <div class="goal_create">

    <div class="login">
      <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
      <%= link_to t('devise.shared.links.back'), :back, :class => 'gest_link' %>
    </div>

  </div>
</div>


<div class="col-md-2" id="right_div">
  <div class="right_side">
  </div>
</div>
