html {
  font-size:62.5%;
  margin: 0px;
  padding: 0px;
}

* {
  border: solid 1px;
}

.logo {
  font-size:2rem;
}

#content {
  max-width: 1320px;
}

.left_side, .right_side {
  max-width: 330px;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

#main_div, #left_div, #right_div {
  padding: 0;
}
