html {
  font-size:62.5%;
  margin: 0px;
  padding: 0px;
}

/*
* {
  border: solid 1px;
}
*/

header {
  width: 100%;
  background-color: #ec7700;
  height: 30px;
  margin: 0;
}

.logo {
  font-size:2rem;
}

#content {
  max-width: 1320px;
}

.left_side, .right_side {
  max-width: 330px;
  border: solid 1px;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  border: solid 1px;
}

#main_div, #left_div, #right_div {
  padding: 0;
}
