.goal_index {
  max-width: 600px;
  margin: 30px auto 0 auto;
  border-right: solid 1px;
  border-left: solid 1px;
  font-size: 1.4rem;
}

.goal_create {
  max-width: 600px;
  margin: 0 auto;
  border: solid 1px;
  font-size: 1.6rem;
}

.condition {
  border-bottom: solid 1px;
  border-top: solid 1px;
  min-height: 60px;
}

.p_condition {
  margin: 18px auto;
  width: 100%;
}

table {
  width: 100%;
}

.index {
  border: solid 1px;
}

.goal_bottom {
  border-bottom: solid 1px;
}

.description {
  width: 100%;
}

.text_field {
  border: solid 1px;
  padding: 5px;
  height: 30px;
  width: 90%;
  margin-top: 15px;
}

.text_area {
  border: solid 1px;
  padding: 5px;
  height: 120px;
  width: 90%;
  margin-top: 15px;
}

.new_form {
  border-bottom: solid 1px;
  border-top: solid 1px;
  text-align: center;
}

.search {
  text-align: center;
  height: 90px;
  padding: 15px;
}
