.goal_search {
  max-width: 600px;
  margin: 0 auto;
  border: solid 1px;
  font-size: 1.6rem;
}
.goal_index {
  max-width: 600px;
  margin: 30px auto 0 auto;
  border-right: solid 1px;
  border-left: solid 1px;
  font-size: 1.6rem;
}

.condition {
  border-bottom: solid 1px;
  border-top: solid 1px;
  min-height: 60px;
}

.p_condition {
  margin: 18px auto;
  width: 100%;
}

table {
  width: 100%;
}

.index {
  border: solid 1px;
}

.goal_bottom {
  border-bottom: solid 1px;
}

.description {
  width: 100%;
}
