.select_field {
  padding: 5px;
  height: 30px;
  width: 90%;
  margin-top: 15px;
}

.right_div_1 {
  max-width: 330px;
  border: solid 1px;
}

.right_div_2 {
  max-width: 330px;
  border: solid 1px;
  margin-top: 30px;
}

.right_memo {
  font-size: 1.6rem;
}

.right_table {
  text-align: center;
}

.right_tr {
  padding: 20px;
  border-top: solid 1px;
}
