.profile_edit {
  max-width: 600px;
  margin: 0 auto;
  border: solid 1px;
  font-size: 1.6rem;
  text-align: center;
}

.profile_text_field {
  padding: 5px;
  height: 30px;
  width: 90%;
  margin-bottom: 15px;
}

.profile_text_area {
  padding: 5px;
  height: 240px;
  width: 90%;
  margin-bottom: 15px;
}
