.login {
  text-align: center;
  margin: 0 auto;
}

.top_information {
  max-width: 880px;
  margin: 30px auto 30px auto;
  border: solid 1px;
  font-size: 1.6rem;
  text-align: center;
}

.top_h2 {
  font-size: 3.6rem;
  font-weight: bold;
}

.top_h3 {
  font-size: 2.4rem;
  font-weight: bold;
}

.top_h4 {
  font-size: 2rem;
  margin: 30px auto 5px auto;
  font-weight: bold;
}

.top_nav {
  text-align: left;
  width: 30%;
  margin: 0 auto;
}

.top_img {
  max-width: 100%
}

.top_content {
  width: 70%;
  text-align: left;
  margin: 100px auto;
}

.top_a {
  color: #F4F5F7;
  font-size: 1.8rem;
}

.error_explanation {
  max-width: 600px;
  margin: 30px auto 30px auto;
}

.user_new_h2 {
  text-align: center;
  color: #800000;
  font-size: 2rem
}

.user_new_ul {
  margin: 0 auto;
  list-style: none;
}

.user_new_ul {
  font-size: 1.6rem;
  color: #800000;
  text-align: center;
}
