.goal_detail {
  max-width: 600px;
  margin: 0 auto 15px auto;
  border: solid 1px;
  font-size: 1.4rem;
}

.user_detail {
  max-width: 600px;
  margin: 0 auto 30px auto;
  border: solid 1px;
  font-size: 1.4rem;
}

.user_introduction {
  border: solid 1px;
  padding: 5px;
  height: 120px;
}

.user_table{
  width: 90%;
  margin: 0 auto;
}

.user_tweet {
  max-width: 600px;
  margin: 0 auto;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  font-size: 1.4rem;
}

.user_memo {
  border-bottom: solid 1px;
  min-height: 40px;
}

.right_goal_titles {
  max-width: 330px;
  border: solid 1px;
}

.right_memo {
  font-size: 1.4rem;
}

.table_goal_title {
  text-align: center;
  font-size: 1.6rem;
  color: #F4F5F7;
}

.tr_goal_title {
  border-top: solid 1px;
  padding: 20px;
}

.top_user_name {
  color: #F4F5F7;
  font-size: 1.8rem;
  font-weight: bold;
}

.top_account_name {
  color: #F4F5F7;
  font-size: 1.4rem;
}

.user_follow {
  color: #F4F5F7;
  font-size: 1.6rem;
  font-weight: bold;
}

.profile_edit_link {
  color: #F4F5F7;
  font-size: 1.4rem;
}

.account_delete_link {
  color: #800000;
  font-size: 1.4rem;
}

.delete_link {
  color: #800000;
  font-size: 1.4rem;
}
